@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8,
h9 {
    margin: 0;
    padding: 0;
    color: theme('colors.stone.900');
    font-weight: 500;
}

p,
div {
    color: theme('colors.stone.700');
}

a {
    color: theme('colors.blue.700');
}